/* =======================
		=======================
		ABOUT & BLOG PAGE STYLES
		=======================
		======================== */

.about-header {
	padding-block: 1.3em 0;
	border-top: solid 2px var(--black);
}

#main-about-content {
	grid-template-areas:
		". about1 ."
		". about2 ."
		". about3 .";
	padding-block: .25em .5em;
	column-gap: var(--sides);
}

#about1 {
	grid-area: about1;
}

#about2 {
	grid-area: about2;
}

#about3 {
	grid-area: about3;
}

/* =======================
		Typography
	======================== */
#about-header h1 {
	font-weight: 800;
	font-size: clamp(1.7rem, 8.2vw, 8.2vw); /* stays on one line, up to the point where it would be smaller than the subheading */
}

#about-header p {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.4;
	margin-top: .55em;
}

#main-about-content p {
	margin-top: .3em;
}

/* =======================
		IMAGES
	======================== */

#about-img {
	width: 47%;
	min-width: 160px;
	padding: 1px;
	border: 3px dotted var(--black);
	border-radius: 100%;
	margin-bottom: .8em;
}

/* =======================
=======================
BLOG PAGE STYLES
=======================
======================== */

#featured-blog-post > * {
	margin-top: .5rem; /* This looks better as .5rem than .5em, otherwise the title has too big of a space. */
}
