#about-header {
	min-height: unset;
	padding-block: 0.6em 0;
	padding-inline: var(--sides);
}

#about-header-text {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
	h2 {
		font-family: "Goblin One", sans-serif;
		font-size: clamp(1rem, .2em + 8.7vw, 2.6rem);
		font-weight: 600;
		margin-top: .6em;
	}

	.line-break {
		display: none;
	}

	p {
		font-size: clamp(1.2rem, .3rem + 2.65vw, 1.4rem);
		line-height: 1.36;
		font-weight: 400;
		text-wrap: balance;
		max-width: 95%;
	}
}

#about-img {
	width: min(45%, 220px);
	border: 3px dotted var(--black);
	border-radius: 100%;
	padding: 2px;
}

#about-full-posts-wrapper {
	margin-block: 2em 0.7em;
	hr {
		display: none;
	}
}

.single-full-post-wrapper {
	margin-top: 0.9em;
	h2 {
		font-family: 'Aleo', serif;
		font-size: var(--step-1);
		margin-top: 0;
	}
}

/* ===============================
MEDIA QUERIES
================================ */

@media (width >= 560px) {
	#about-header {
		display: flex;
		gap: 2rem 1vw;
		align-items: center;
	}

	#about-img {
		width: unset;
		max-width: 100%;
		padding: 2px;
		border: 2px dotted var(--black);
		border-radius: 100%;
	}

	.about-image-wrapper {
		max-width: 310px;
		flex: 0 0 31.5%;
	}

	#about-header-text {
		justify-content: center;
		max-height: 94%;
		margin-top: 0;

		h2 {
			flex: auto;
			font-size: clamp(2.1rem, 0.455rem + 4.85vw, 4.35rem);
			letter-spacing: 0.08em;
			text-align: center;
			line-height: 1.3;
			margin-block: 0;
		}

		p {
			max-width: 85%;
			font-size: clamp(1.15rem, .3rem + 2vw, 1.7rem);
			text-align: center;
			line-height: 1.35;
			text-wrap: pretty;
		}
	}

	.line-break {
		display: unset;
	}
}
