#blog-header {
	padding-inline: var(--sides);
	margin-bottom: 1em;
}

#blog-featured-post {
	h2 {
		font-size: clamp(1.6rem, 1.025rem + 2.65vw, 2.7rem);
		font-weight: 900;
		letter-spacing: -.005em;
		margin-top: .37em;
	}
	p.post-date {
		margin-top: 0.25em;
	}
	p.post-content {
		font-size: 1.12rem;
		margin-top: 0.7em;
	}
}

@media (width >= 700px) {
	#blog-header {
		margin-block: 0;
	}

	#blog-featured-post .post-date {
			font-size: 0.92rem;
	}
}