#blog-header {
	padding-inline: var(--sides);
	margin-bottom: 1em;
}

#blog-featured-post {
	h2 {
		font-size: clamp(1.6rem, 1.1rem + 2.65vw, 2.7rem);
		font-weight: 900;
		letter-spacing: -.005em;
		margin-top: .4em;
		margin-bottom: -0.1em;
	}

	p.post-content {
		font-size: 1.1rem;
	}
}

#blog-full-posts-wrapper {
	margin-block: 1.6em -.2em;
}

@media (width >=700px) {
	#blog-header {
		margin-block: 0;
	}
}