:root {
	--black: #121212;
	--white: #fefefe;
	--sides: 3.5%;
	--serif: 'Aleo', cambria, cochin, georgia, times, serif;
	--expanded-spacing: .095em;
	--wrapper-gap-height: 1.7rem;
	--rule-gradient: linear-gradient(to right, rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.35), rgb(0, 0, 0, 0.05));

/* @link https://utopia.fyi/type/calculator?c=360,16,1.2,1240,22,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --step--2: clamp(0.8rem, 0.6185rem + 0.3374vw, 0.88rem);
  --step--1: clamp(0.9rem, 0.7242rem + 0.4848vw, .95rem);
  --step-0: clamp(1rem, 0.8466rem + 0.6818vw, 1.375rem);
  --step-1: clamp(1.25rem, 0.9878rem + 0.9432vw, 1.7188rem);
  --step-2: clamp(1.44rem, 1.1502rem + 1.2881vw, 2.1484rem);
  --step-3: clamp(1.728rem, 1.3363rem + 1.741vw, 2.6855rem);
  --step-4: clamp(2.0736rem, 1.5486rem + 2.3333vw, 3.3569rem);
  --step-5: clamp(2.4883rem, 1.7897rem + 3.1052vw, 4.1962rem);
}

/* =============================
		SITE LAYOUT
	============================== */

html, body, h1, p, img {
	margin: 0;
	padding: 0;
}

html {
	height: 100dvh;
}

body {
	color: var(--black);
	background-color: var(--white);
	height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: grid;
	gap: 1.4rem;
	grid-template-areas:
		"navi"
		"head"
		"main"
		"aside"
		"foot";
}

#home-body .wrapper {
	grid-template-areas:
		"navi"
		"head"
		"aside"
		"foot";
}

*, *::before, *::after {
	box-sizing: border-box;
}

nav {
	grid-area: navi;
	background-color: var(--black);
	margin-bottom: -0.2em;
}

nav>#nav-item-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
	font-size: clamp(1.05rem, 0.73rem + 1.35vw, 1.5rem);
	padding-block: 1.25em 1em;
	padding-inline: var(--sides);
}

#nav-title, .nav-links {
	font-family: var(--serif);
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1.1px;
	text-decoration: none;
}

#nav-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .25em;
	align-items: baseline;
	h1 {
		font-size: 1em;
		font-weight: 625;
		word-spacing: 1px;
	}
}

i {
	font-size: 1.06em;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0.7em;
	align-items: center;
	a {
		font-size: 0.825em;
		font-weight: 500;
	}

	a, a:link, a:visited {
		text-decoration: none;
	}
}

#home-body nav {
	margin-bottom: -1.35rem;
}

footer {
    grid-area: foot;
    background-color: var(--black);
		padding-block: 2.3dvh;
    margin-top: .9dvh;
}

/* =============================
		HEADER LAYOUT
	============================== */

header {
	grid-area: head;
	min-height: 40dvh;
}

#home-header {
	display: flex;
	align-items: end;
	height: calc(100dvh - 2.7em);
}

#home-featured-post {
	padding-inline: var(--sides);
	padding-block: 4.5em 2.6rem;
	background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.025), rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.42), 28%, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, .95));
	font-size: clamp(0.9rem, 0.7rem + 1.15vw, 1.1rem);
}

#home-featured-post > * {
	color: var(--white);
	word-spacing: .05em;
}

#home-featured-post > h2 {
	font-size: 2.05em;
	font-weight: 825;
	line-height: 1.35;
	letter-spacing: .012em;
	text-shadow: 0 0 7px var(--black);
}

#home-featured-post > .header-post-content {
	--line-height: 1.7;
	font-size: var(--step-1);
	line-height: var(--line-height);
	font-weight: 450;
	margin-top: 0.8em;
}

main {
	grid-area: main;
		padding-inline: var(--sides);
	}

aside {
	grid-area: aside;
}

/* =============================
		TYPOGRAPHY
	============================== */

.roboto {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-variation-settings: "wdth"100;
	word-spacing: .02em;
}

h2 {
	font-family: var(--serif);
	letter-spacing: 0.006em;
	word-spacing: .035em;
	margin-bottom: -0.15em;
	}

p {
	font-size: 1rem;
	line-height: 1.55;
}

a, a:link, a:visited, button {
	text-decoration: underline dotted #0000006a;
	text-underline-offset: 4.5px;
}

a:link, a:visited {
	color: inherit;
}

p.post-date {
	font-weight: 400;
	text-transform: uppercase;
	font-variant: all-petite-caps;
	letter-spacing: var(--expanded-spacing);
	opacity: 0.7;
	margin-top: .04em;
}

.post:first-of-type hr:first-of-type {
  display: none;
}

/* TODO: combine blog- and about-full-posts-wrapper. Can any of this other mess be simplified? */
div#home-post-card-grid .post:first-of-type > .post-card-wrapper:first-of-type,
div#about-post-card-grid .post:first-of-type > .post-card-wrapper:first-of-type,
div#blog-full-posts-wrapper .post:first-of-type .single-full-post-wrapper:first-of-type,
div#about-full-posts-wrapper .single-full-post-wrapper:first-of-type {
	margin-top: 0;
}

p.post-content {
	margin-top: 0.8em;
}

.post-content.cut-off-text {
	--max-lines: 5;
}

#blog-full-posts-wrapper, #about-full-posts-wrapper {
	display: grid;
	grid-template-rows: auto;
	gap: var(--wrapper-gap-height);
}

.single-full-post-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 0.8em);
	h2 {
		font-size: clamp(1.3rem, calc(0.39rem + 4vw), 2.3rem);
		font-weight: 800;
		line-height: 1.2;
		margin-top: .55em;
	}
}

.post-card-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 0.8rem);
	h2 {
		margin-top: .7em;
	}
	.post-content {
		font-size: var(--step--1);
	}
}

.post-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	gap: var(--wrapper-gap-height) 0.9em;
	padding-inline: var(--sides);
	margin-top: 1.35em;
	h2 {
		font-size: 1.3rem;
		font-weight: 800;
	}
}

.header-post-content.cut-off-text {
	--max-lines: 9;
}

.cut-off-text {
	--line-height: 1.55;
	overflow: hidden;
	position: relative;
	max-height: calc(var(--line-height) * var(--max-lines) * 1em);
}

.cut-off-text::before {
	content: "";
	position: absolute;
	height: calc(1em * var(--line-height));
	width: 100%;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, white);
}

#home-featured-post .cut-off-text::before {
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.95));
}

.thumbnail-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
	gap: .25rem;
	margin-top: 0.8em;
}

.thumbnail-card-wrapper {
	container-type: inline-size;
	> .image-wrapper {
		position: relative;
	}

	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		inset: 0;
		font-family: 'Roboto Flex', sans-serif;
		color: var(--white);
		font-weight: 450;
		line-height: 1.1;
		text-shadow: 0px 0px 2px var(--black);
		letter-spacing: 0.03em;
		font-variant: all-petite-caps;
		text-wrap: balance;
		text-align: center;
		overflow: clip;
		background-color: #000000a2;
		backdrop-filter: blur(5px);
		padding-block: 0.3em;
		padding-inline: 0.6em;
		margin: auto;
	}
}

@container (width < 240px) {
	.thumbnail-card-wrapper > .image-wrapper {
		aspect-ratio: 1/1;
		h2 {
			font-size: clamp(1.15rem, 0.45rem + 7.05cqw, 1.45rem);
			max-height: 37%;
		}
	}
}

@container (width >= 240px) {
	.thumbnail-card-wrapper > .image-wrapper {
		aspect-ratio: 11/8;
		h2 {
			font-size: clamp(1.2rem, 0.52rem + 5.7cqw, 2.15rem);
			max-height: 42%;
		}
	}
}


/* ===============================
		FOOTER & DIVIDERS
	================================ */

footer p {
	color: var(--white);
	text-align: center;
	font-size: 0.8rem;
}

footer p:last-child {
	font-size: .7rem;
	margin-top: 0.4em;
}

.divider {
	justify-self: center;
	font-family: var(--serif);
	font-size: 1.3rem;
	font-weight: 500;
	font-style: italic;
	font-variant: petite-caps;
	text-transform: capitalize;
	letter-spacing: var(--expanded-spacing);
}

button.divider, .end-of-post-cards, .end-of-thumbnails {
	padding: 0.75em 1.6em;
	opacity: .75;
	margin-top: 1.2em;
}

button.divider {
	display: block;
	font-size: 1.05rem;
	background-color: unset;
	text-underline-offset: .35em;
	border: none;
}

#load-more-thumbnails-btn, .end-of-thumbnails {
	font-size: 1.1rem;
	text-transform: lowercase;
	font-variant: all-petite-caps;
	margin-top: 0.6em;
}

.end-of-post-cards, .end-of-thumbnails {
	font-variant: all-petite-caps;
	opacity: 60%;
}

@media (hover: hover) {
	.older-posts-button-div button.divider:hover,
	.older-posts-button-div button.divider:active {
		border: 2.3px dotted #0000004a;
		text-decoration: none;
		background: var(--white);
		border-radius: 5px;
		padding: 0.35em 1.6em;
		margin-top: 0.5em;
	}
}

.divider-top-bottom-border {
	gap: .23em;
	width: 95%;
	border: #ffffff00 solid 1.7px;
	border-image: var(--rule-gradient) 1;
	border-inline: none;
	padding-block: .7em;
	text-align: center;
}

.divider-only-top-border {
	border-bottom: none;
	padding-block: 1.4em 0;
}

/* =============================
		IMAGES
	============================== */

.image-wrapper {
	width: 100%;
	aspect-ratio: 16 / 9;
	overflow: hidden;
}

/* TODO: needs to be a 1st child situation instead of tied to an ID */
#id-1 .image-wrapper {
	padding-top: 0;
}

.post-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* =============================
		Utility Classes
	============================== */

hr {
    border: 0;
    width: 92%;
		height: 1px;
		background-image: var(--rule-gradient);
		margin: 4px auto;
}

.continue-reading {
	display: block;
	font-size: var(--step--2);
	font-weight: 300;
	font-style: italic;
	opacity: 0.65;
	letter-spacing: var(--expanded-spacing);
	text-transform: lowercase;
	padding-top: 0.7em;
}
a.continue-reading>span {
	font-size: larger;
	vertical-align: middle;
}

#home-featured-post .continue-reading {
	font-size: var(--step-0);
	font-weight: 300;
	opacity: 0.75;
}

/* ===============================
===============================
MEDIA QUERIES
===============================
================================ */

@media (width >= 560px) {
	#home-header {
		height: calc(100dvh - 3.5em);
	}

	aside {
		margin-block: 0.7em -1dvh;
	}

	.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.post-card-wrapper {
		margin-top: 0.6em !important;
	}

	.post-card-grid > .post hr {
		display: none;
	}

	.image-wrapper {
		padding-top: 0;
	}

	.thumbnail-card-grid {
		gap: .45rem;
	}
}

/* ================================================================ */

@media (width >=700px) {
	.header-post-content {
		line-height: 1.7;
	}

	.header-post-content.cut-off-text {
		--line-height: 1.7;
		--max-lines: 6;
	}

	.divider-top-bottom-border {
		margin-top: 0.8em;
		width: 90%;
	}
	.post-card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* ================================================================ */

@media (width >= 750px) {
	#home-header {
		height: calc(100dvh - 4em);
	}

	.thumbnail-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}
}

/* ================================================================ */

/* TODO: This entire section could probably exclude the homepage. */
@media (width >=1200px) {
	header:not(#home-header),
	main,
	aside,
	#nav-item-container:not(#home-nav > #nav-item-container) {
		width: 1200px;
		margin-inline: auto;
	}

	div#nav-item-container {
		padding-inline: var(--sides);
	}

	.thumbnail-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}
}
