:root {
	--black: #121212;
	--white: #fefefe;
	--sides: 3.5%;
	--serif: 'Aleo', cambria, cochin, georgia, times, serif;
	--expanded-spacing: 1.5px;
	--wrapper-gap-height: 1.7rem;
	--rule-gradient: linear-gradient(to right, rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.55), rgb(0, 0, 0, 0.05));
}

/* =============================
		SITE LAYOUT
	============================== */

html, body, h1, h2, p, img {
	margin: 0;
	padding: 0;
}

html {
	height: 100dvh;
}

body {
	color: var(--black);
	background-color: var(--white);
	height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: grid;
	gap: 1.4rem;
	grid-template-areas:
		"navi"
		"head"
		"main"
		"aside"
		"foot";
}

#home-body .wrapper {
	grid-template-areas:
		"navi"
		"head"
		"aside"
		"foot";
}

*, *::before, *::after {
	box-sizing: border-box;
}

nav {
	grid-area: navi;
	background-color: var(--black);
	padding-inline: 2.5%;
	margin-bottom: -0.2em;
}

nav>#nav-item-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
	font-size: clamp(0.83rem, 0.63rem + 1.35vw, 1.25rem);
	padding-block: 1.3em 0.95em;
}

#nav-title, .nav-links {
	font-family: var(--serif);
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

#nav-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .25em;
	align-items: baseline;
	h1 {
		font-size: .95em;
		font-weight: 600;
		word-spacing: 1.2px;
	}
}

i {
	font-size: 1.06em;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .8em;
	align-items: center;
	/* TODO: Currently a p, was an a, needs to be an a, so including both for now. */
	a, p {
		font-size: .8em;
		font-weight: 475;
	}

	a, a:link, a:visited {
		text-decoration: none;
	}
}

#home-body nav {
	margin-bottom: -1.25rem;
}

footer {
    grid-area: foot;
    background-color: var(--black);
		padding-block: 2.4dvh 2.4dvh;
    margin-top: .9dvh;
}

/* =============================
		HEADER LAYOUT
	============================== */

header {
	grid-area: head;
	min-height: 40dvh;
}

#home-header {
	display: flex;
	align-items: end;
	height: calc(100dvh - 2.7em);
}

#home-featured-post {
	padding-inline: var(--sides);
	padding-block: 4.5em 2.55em;
	background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.42), 43%, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, .95));
	font-size: clamp(0.9rem, 0.7rem + 1.15vw, 1.1rem);
}

#home-featured-post > * {
	color: var(--white);
	word-spacing: .05em;
}

/* NOTE: Leave this alone, FFS. */
#home-featured-post > h2 {
	font-size: 2.05em;
	font-weight: 825;
	letter-spacing: .025em;
	line-height: 1.35;
}

/* TODO: This could probably just be p. */
#home-featured-post > .header-post-content {
	font-size: 1.27em;
	font-weight: 450;
	margin-top: 0.8em;
}

main {
	grid-area: main;
		padding-inline: var(--sides);
	}

aside {
	grid-area: aside;
	margin-block: 0.7em -1.7dvh;
}

/* =============================
		TYPOGRAPHY
	============================== */

.roboto {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth"100;
	letter-spacing: .5px;
}

h2 {
	font-family: var(--serif);
	letter-spacing: 0.006em;
	word-spacing: .035em;
	}

p {
	font-size: 1rem;
	line-height: 1.55;
}

a, a:link, a:visited, button {
	text-decoration: underline dotted #0000006a;
	text-underline-offset: 4.5px;
}

a:link, a:visited {
	color: inherit;
}

p.post-date {
	font-size: 0.9rem;
	font-weight: 320;
	text-transform: uppercase;
	letter-spacing: var(--expanded-spacing);
	opacity: 0.82;
	margin-top: .05em;
}

.post:first-of-type hr:first-of-type {
  display: none;
}

/* TODO: combine blog- and about-full-posts-wrapper. Can any of this other mess be simplified? */
div#home-post-card-grid .post:first-of-type > .post-card-wrapper:first-of-type,
div#blog-full-posts-wrapper .post:first-of-type .single-full-post-wrapper:first-of-type,
div#about-full-posts-wrapper .single-full-post-wrapper:first-of-type,
div#about-post-card-grid .post:first-of-type .post-card-wrapper:first-of-type {
	margin-top: 0;
}

div#home-post-card-grid {
	margin-top: 0.1em;
}

.post-content.cut-off-text {
	--max-lines: 5;
}

#blog-full-posts-wrapper, #about-full-posts-wrapper {
	display: grid;
	grid-template-rows: auto;
	gap: var(--wrapper-gap-height);
}

.single-full-post-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 0.8em);
	h2 {
		font-size: clamp(1.3rem, calc(0.39rem + 4vw), 2.3rem);
		font-weight: 800;
		line-height: 1.2;
		margin-top: .55em;
	}
	p.post-content {
		margin-top: 0.8em;
	}
}

.post-card-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 0.8rem);
	h2 {
		margin-top: .7em;
	}
	.post-content {
		margin-top: 0.7em;
		font-size: .95em;
	}
}

.post-card-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	gap: var(--wrapper-gap-height) 0.9em;
	padding-inline: var(--sides);
	h2 {
		font-size: 1.3rem;
		font-weight: 800;
	}
	p.post-date {
		font-size: 1rem;
		margin-top: 0;
	}
}

.header-post-content.cut-off-text {
	--max-lines: 9;
}

.cut-off-text {
	--line-height: 1.55;
	overflow: hidden;
	position: relative;
	max-height: calc(var(--line-height) * var(--max-lines) * 1em);
}

.cut-off-text::before {
	content: "";
	position: absolute;
	height: calc(1em * var(--line-height));
	width: 100%;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, white);
}

#home-featured-post .cut-off-text::before {
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.75));
}

.thumbnail-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
	gap: .25rem;
	margin-top: 0.8em;
}

.thumbnail-card-wrapper .image-wrapper {
	position: relative;
	aspect-ratio: 1/1;
}

.thumbnail-card-wrapper h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100%;
	height: fit-content;
	min-height: 36%;
	font-family: 'Roboto Flex', sans-serif;
	color: var(--white);
	font-size: clamp(1.15rem, 0.8rem + 2.15vw, 1.6rem);
	font-weight: 550;
	text-shadow: 0px 0px 2px var(--black);
	letter-spacing: 0.55px;
	word-spacing: 1.2px;
	text-align: center;
	font-variant: all-petite-caps;
	text-wrap: balance;
	line-height: 1.1;
	background-color: #000000c0;
	padding-block: 0.4em;
	padding-inline: 1em;
}

/* ===============================
		FOOTER & DIVIDERS
	================================ */

footer p {
	color: var(--white);
	text-align: center;
	font-size: .9rem;
}

footer p:last-child {
	font-size: .7rem;
	margin-top: .7em;
}

.divider {
	justify-self: center;
	font-family: var(--serif);
	font-size: 1.25rem;
	font-weight: 500;
	font-style: italic;
	font-variant: petite-caps;
	text-transform: capitalize;
	letter-spacing: var(--expanded-spacing);
	opacity: .8;
}

button.divider, .end-of-post-cards, .end-of-thumbnails {
	padding: 0.75em 1.6em;
	opacity: .75;
	margin-top: 1.2em;
}

button.divider {
	display: block;
	font-size: 1.1rem;
	background-color: unset;
	text-underline-offset: .35em;
	border: none;
}

#load-more-thumbnails-btn, .end-of-thumbnails {
	font-size: 1.1rem;
	text-transform: lowercase;
	font-variant: all-petite-caps;
	margin-top: 0.6em;
}

.end-of-post-cards, .end-of-thumbnails {
	font-variant: all-petite-caps;
	opacity: 60%;
}

@media (hover: hover) {
	.older-posts-button-div button.divider:hover,
	.older-posts-button-div button.divider:active {
		border: 2.3px dotted #0000004a;
		text-decoration: none;
		background: var(--white);
		border-radius: 5px;
		padding: 0.35em 1.6em;
		margin-top: 0.5em;
	}
}

.divider-top-bottom-border {
	gap: .23em;
	width: 85%;
	border: #ffffff00 solid 1.7px;
	border-image: var(--rule-gradient) 1;
	border-inline: none;
	padding-block: .7em ;
	text-align: center;
}

.divider-only-top-border {
	border-bottom: none;
	padding-block: 1.4em 0;
	}

/* =============================
		IMAGES
	============================== */

.image-wrapper {
	width: 100%;
	aspect-ratio: 8/5;
	overflow: hidden;
}

/* TODO: needs to be a 1st child situation instead of tied to an ID */
#id-1 .image-wrapper {
	padding-top: 0;
}

.post-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* =============================
		Utility Classes
	============================== */

hr {
    border: 0;
    width: 92%;
		height: 1px;
		background-image: var(--rule-gradient);
		margin: 4px auto;
}

.continue-reading {
	display: block;
	font-size: .89rem;
	font-weight: 300;
	font-style: italic;
	opacity: 0.65;
	letter-spacing: var(--expanded-spacing);
	text-transform: lowercase;
	padding-top: 1em;
}
a.continue-reading>span {
	font-size: larger;
	vertical-align: middle;
}

#home-featured-post .continue-reading {
	font-size: 1.125em;
	font-weight: 300;
	opacity: 0.75;
}

/* ===============================
===============================
MEDIA QUERIES
===============================
================================ */

@media (width >= 560px) {
	#home-header {
		height: calc(100dvh - 3.5em);
		}

	aside {
		margin-block: 0.7em -1dvh;
	}

	.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.post-card-wrapper {
	margin-top: 0.6em !important;
	}

	.post-card-grid > .post hr {
		display: none;
	}

	.image-wrapper {
		padding-top: 0;
	}

	.thumbnail-card-grid {
		gap: .45rem;
	}
}

/* ================================================================ */

@media (width >=700px) {
	.header-post-content {
		line-height: 1.7;
	}

	.header-post-content.cut-off-text {
		--line-height: 1.7;
		--max-lines: 6;
	}

	.divider-top-bottom-border {
		margin-top: 0.8em;
		width: 90%;
	}
		.post-card-grid {
		grid-template-columns: repeat(3, 1fr);
	}
}

/* ================================================================ */

@media (width >= 750px) {
	#home-header {
			height: calc(100dvh - 4em);
		}

		.thumbnail-card-grid {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}

		.thumbnail-card-wrapper .image-wrapper {
			aspect-ratio: 11/8;
		}
}

/* ================================================================ */

/* TODO: This entire section could probably exclude the homepage. */
@media (width >=1200px) {
	header:not(#home-header),
	main,
	aside,
	#nav-item-container:not(#home-nav > #nav-item-container) {
		max-width: calc(1200px - var(--sides));
		margin-inline: auto;
	}

	.thumbnail-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}

	.thumbnail-card-wrapper .image-wrapper {
		aspect-ratio: 4/3;
	}
}
