:root {
	--black: #121212;
	--white: #fefefe;
	--sides: 3.5%;
	--serif: 'Aleo', cambria, cochin, georgia, times, serif;
	--expanded-spacing: 1.5px;
	--wrapper-gap-height: 1.7rem;
}

/* =============================
		SITE LAYOUT
	============================== */

html, body, h1, h2, p, img {
	margin: 0;
	padding: 0;
}

html {
	height: 100dvh;
}

body {
	color: var(--black);
	background-color: var(--white);
	height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: grid;
	gap: 1.4rem;
}

#home-body .wrapper {
	grid-template-areas:
		"navi"
		"head"
		"aside"
		"foot";
}

*, *::before, *::after {
	box-sizing: border-box;
}

nav {
	grid-area: navi;
	background-color: var(--black);
	padding-inline: 2.5%;
	margin-bottom: -0.2em;
}

nav>#nav-item-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
	font-size: clamp(0.83rem, 0.63rem + 1.35vw, 1.25rem);
	padding-block: 1.3em 0.95em;
}

#nav-title, .nav-links {
	font-family: var(--serif);
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

#nav-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .25em;
	align-items: baseline;
	h1 {
		font-size: .95em;
		font-weight: 600;
		word-spacing: 1.2px;
	}
}

i {
	font-size: 1.06em;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .8em;
	align-items: center;
	/* TODO: Currently a p, was an a, needs to be an a, so including both for now. */
	a, p {
		font-size: .8em;
		font-weight: 475;
	}

	a, a:link, a:visited {
		text-decoration: none;
	}
}

#home-body nav {
	margin-bottom: -1.25rem;
}

footer {
    grid-area: foot;
    background-color: var(--black);
		padding-block: 2.1dvh 2dvh;
    margin-top: .9dvh;
}

/* =============================
		HEADER LAYOUT
	============================== */

header {
	grid-area: head;
	min-height: 40dvh;
}

#home-header {
	display: flex;
	align-items: end;
	height: calc(100dvh - 2.7em);
}

#home-featured-post {
	padding-inline: var(--sides);
	padding-block: 4.5em 2.55em;
	background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.42), 43%, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, .95));
	font-size: clamp(0.9rem, 0.7rem + 1.15vw, 1.1rem);
}

#home-featured-post > * {
	color: var(--white);
	word-spacing: .05em;
}

/* NOTE: Leave this alone, FFS. */
#home-featured-post > h2 {
	font-size: 2.05em;
	font-weight: 825;
	letter-spacing: .025em;
	line-height: 1.35;
}

/* TODO: This could probably just be p. */
#home-featured-post > .header-post-content {
	font-size: 1.27em;
	font-weight: 450;
	margin-top: 0.8em;
}


/* =============================
		MAIN ELEMENT LAYOUT
	============================== */

main {
	grid-area: main;
		padding-inline: var(--sides);
	}

aside {
	grid-area: aside;
	display: grid;
	gap: var(--wrapper-gap-height) 0.9em;
	padding-inline: var(--sides);
}

.post-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-template-rows: 1fr auto;
}

/* =============================
		TYPOGRAPHY
	============================== */

.roboto {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth"100;
	letter-spacing: .5px;
}

h2 {
	font-family: var(--serif);
	letter-spacing: 0.006em;
	word-spacing: .035em;
	}

p {
	font-size: 1rem;
	line-height: 1.55;
}

a, a:link, a:visited, .divider>button {
	text-decoration: underline dotted #0000006a;
	text-underline-offset: 4.5px;
}

a:link, a:visited {
	color: inherit;
}

p.post-date {
	font-size: 0.9rem;
	font-weight: 320;
	text-transform: uppercase;
	letter-spacing: var(--expanded-spacing);
	opacity: 0.82;
	margin-top: .05em;
}

aside#home-post-card-grid .post:first-of-type hr:first-of-type,
main#blog-full-posts-wrapper .post:first-of-type hr:first-of-type {
  display: none;
}

main#blog-full-posts-wrapper .post:first-of-type .single-full-post-wrapper:first-of-type {
	margin-top: 1.5em;
 }

aside#home-post-card-grid .post:first-of-type > .post-card-wrapper {
	margin-top: 0;
}

.post-content.cut-off-text {
	--max-lines: 5;
}

#blog-full-posts-wrapper, #about-full-posts-wrapper {
	margin-block: 0 .5em;
	display: grid;
	grid-template-rows: auto;
	gap: var(--wrapper-gap-height);
}

.single-full-post-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 0.8em);
	h2 {
		font-size: clamp(1.3rem, calc(0.39rem + 4vw), 2.3rem);
		font-weight: 800;
		line-height: 1.2;
		margin-top: .55em;
	}
	p.post-content {
		margin-top: 0.8em;
	}
}

.post-card-wrapper {
	margin-top: calc(var(--wrapper-gap-height) + 1rem);
}

.post-card-wrapper h2 {
	margin-top: .7em;
}

.post-card-wrapper .post-content {
	margin-top: 0.7em;
	font-size: .95em;
}
.post-card-grid h2 {
		font-size: 1.3rem;
		font-weight: 800;
}

.post-card-grid .post-date {
	font-size: .805rem;
	margin-top: 0.2em
}

.header-post-content.cut-off-text {
	--max-lines: 9;
}

.cut-off-text {
	--line-height: 1.55;
	overflow: hidden;
	position: relative;
	max-height: calc(var(--line-height) * var(--max-lines) * 1em);
}

.cut-off-text::before {
	content: "";
	position: absolute;
	height: calc(1em * var(--line-height));
	width: 100%;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, white);
}

#home-featured-post .cut-off-text::before {
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.75));
}

.thumbnail-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(165px, 1fr));
	gap: .25rem;
	margin-top: 0.5em;
}

.thumbnail-card-wrapper .image-wrapper {
	position: relative;
	aspect-ratio: 1/1;
}

.thumbnail-card-wrapper h2 {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	inset: 0;
	margin: auto;
	width: 100%;
	height: fit-content;
	min-height: 36%;
	font-family: 'Roboto Flex', sans-serif;
	color: var(--white);
	font-size: clamp(1.15rem, 0.8rem + 2.15vw, 1.6rem);
	font-weight: 550;
	text-shadow: 0px 0px 2px var(--black);
	letter-spacing: 0.55px;
	word-spacing: 1.2px;
	text-align: center;
	font-variant: all-petite-caps;
	text-wrap: balance;
	line-height: 1.1;
	background-color: #000000c0;
	padding-block: 0.4em;
	padding-inline: 1em;
}

/* ===============================
		FOOTER & DIVIDERS
	================================ */

footer p {
	color: var(--white);
	text-align: center;
	font-size: .825rem;
}

footer p:last-child {
	font-size: .725rem;
	margin-top: .45em;
}

/* should be older-posts or something */
.view-more {
	grid-area: view;
	text-align: center;
	margin-top: 0.9em;
	p {
		font-size: 1.08rem;
	padding-top: 1.3em;
}
}

.divider {
	grid-area: divider;
	margin-bottom: -0.6em;
}

.divider p, .divider .older-posts {
	justify-self: center;
	font-family: var(--serif);
	font-size: 1.2rem;
	font-weight: 500;
	font-style: italic;
	font-variant: petite-caps;
	text-transform: capitalize;
	letter-spacing: var(--expanded-spacing);
	opacity: .75;
	margin-top: 1em;
}

.older-posts-button-div button.older-posts {
	display: block;
	opacity: .55;
	background-color: unset;
	text-underline-offset: 7px;
	margin-block: 2.5em 0.6em;
	border: none;
}

button#blog-thumbnail-older-posts-button {
	text-transform: lowercase;
	margin-block: 1.7em 0.6em;

}

@media (hover: hover) {
	.older-posts-button-div button.older-posts:hover,
	.older-posts-button-div button.older-posts:active {
		border: 2.3px dotted #0000004a;
		text-decoration: none;
		background: #0000000f;
		border-radius: 5px;
		padding: 0.35em 1.6em;
		margin-top: 0.7em;
	}
}

.recent-divider {
	grid-area: recent;
}

#home-body .recent-divider {
	margin-bottom: -0.3em;
}

.older-posts-divider {
	grid-area: older;
	p {
		margin-top: 1.4em;
	}
}

.two-hr-flex-divider {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	gap: .23em;
	align-items: center;
	hr, p {
		margin: 0;
	}
	p {
		padding-block: 0.7em;
	}
}

/* =============================
		IMAGES
	============================== */

.image-wrapper {
	width: 100%;
	aspect-ratio: 8/5;
	overflow: hidden;
}

/* TODO: needs to be a 1st child situation instead of tied to an ID */
#id-1 .image-wrapper {
	padding-top: 0;
}

.post-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* =============================
		Utility Classes
	============================== */

hr {
    border: 0;
    width: 75%;
		height: 1px;
		background-image: linear-gradient(to right, rgb(0, 0, 0, 0.08), rgb(0, 0, 0, 0.6), rgb(0, 0, 0, 0.08));
		margin: 0.4em auto;
}

.post hr {
	width: 90%;
}

.continue-reading {
	display: block;
	font-size: .89rem;
	font-weight: 300;
	font-style: italic;
	opacity: 0.65;
	letter-spacing: var(--expanded-spacing);
	text-transform: lowercase;
	padding-top: 1em;
}
a.continue-reading>span, #home-older-posts-button span {
	font-size: larger;
	vertical-align: middle;
}

#home-featured-post .continue-reading {
	font-size: 1.125em;
	font-weight: 300;
	opacity: 0.75;
}

/* ===============================
===============================
MEDIA QUERIES
===============================
================================ */

@media (width >= 560px) {
	#home-header {
		height: calc(100dvh - 3.5em);
		}

		/* Negates the  value set in the base so it matches .divider */
	#home-body .recent-divider {
		margin-bottom: -0.6em;
	}

	.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.post-card-wrapper {
	margin-top: 0.6em !important;
	}

	.post-card-grid>.post hr {
		display: none;
	}

	.image-wrapper {
		padding-top: 0;
	}

	.thumbnail-card-grid {
		gap: .45rem;
	}
}

/* ================================================================ */

@media (width >= 700px) {
	.post-card-grid .post-date {
		font-size: 0.85rem;
	}

	.header-post-content {
		line-height: 1.7;
	}

	.header-post-content.cut-off-text {
		--line-height: 1.7;
		--max-lines: 6;
	}

	.divider {
		margin-top: 1em;
		margin-inline: 0;
		font-size: 1.15rem;
	}

		.post-card-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr auto;
	}

	hr {
		width: 77%;
	}

	.view-more {
		font-size: 1.2rem;
		margin-top: .4em;
	}
}

/* ================================================================ */

@media (width >= 750px) {
	#home-header {
			height: calc(100dvh - 4em);
		}

		.thumbnail-card-grid {
			grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
		}

		.thumbnail-card-wrapper .image-wrapper {
			aspect-ratio: 11/8;
		}
	}/* ================================================================ */

/* TODO: This entire section could probably exclude the homepage. */
@media (width >=1200px) {

	header:not(#home-header),
	main,
	aside,
	#nav-item-container:not(#home-nav > #nav-item-container) {
		max-width: calc(1200px - var(--sides));
		margin-inline: auto;
	}

	.thumbnail-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}

	.thumbnail-card-wrapper .image-wrapper {
		aspect-ratio: 4/3;
	}
}
