:root {
	--black: #121212;
	--white: #fefefe;
	--sides: 3.5%;
	--serif: 'Aleo', cambria, cochin, georgia, times, serif;
	--expanded-spacing: 1.5px;
}

/* =============================
		SITE LAYOUT
	============================== */

html, body, h1, h2, p, img {
	margin: 0;
	padding: 0;
}

html {
	height: 100dvh;
}

body {
	color: var(--black);
	background-color: var(--white);
	height: 100%;
}

.wrapper {
	min-height: 100dvh;
	display: grid;
	gap: 1.1rem;
}

#home-body .wrapper {
	grid-template-rows: auto auto auto 1fr auto;
	grid-template-areas:
		"navi"
		"head"
		"divider"
		"aside"
		"foot";
}

*, *::before, *::after {
	box-sizing: border-box;
}

nav {
	grid-area: navi;
	background-color: var(--black);
	padding-inline: 2.5%;
	margin-bottom: -0.2em;
}

nav>#nav-item-container {
	display: flex;
	flex-wrap: nowrap;
	align-items: baseline;
	justify-content: space-between;
	font-size: clamp(0.83rem, 0.63rem + 1.35vw, 1.25rem);
	padding-block: 1.3em 0.95em;
}

#nav-title, .nav-links {
	font-family: var(--serif);
	color: var(--white);
	text-transform: uppercase;
	letter-spacing: 1.1px;
}

#nav-title {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .25em;
	align-items: baseline;
	h1 {
		font-size: .95em;
		font-weight: 600;
		word-spacing: 1.2px;
	}
}

i {
	font-size: 1.06em;
}

.nav-links {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: .8em;
	align-items: center;
	/* TODO: Currently a p, was an a, needs to be an a, so including both for now. */
	a, p {
		font-size: .8em;
		font-weight: 475;
	}
}

#home-body nav {
	margin-bottom: -1rem;
}

footer {
    grid-area: foot;
    background-color: var(--black);
	padding-block: 2dvh 1.9dvh;
    margin-top: .9dvh;
}

/* =============================
		HEADER LAYOUT
	============================== */

header {
	grid-area: head;
	min-height: 40dvh;
}

#home-header {
	display: flex;
	align-items: end;
	height: calc(100dvh - 2.7em);
}

#home-featured-post {
	padding-inline: var(--sides);
	padding-block: 4.5em 2.55em;
	background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.05), rgb(0, 0, 0, 0.15), rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.42), 43%, rgb(0, 0, 0, 0.5), rgb(0, 0, 0, .95));
	font-size: clamp(0.9rem, 0.7rem + 1.15vw, 1.1rem);
}

#home-featured-post > * {
	color: var(--white);
	word-spacing: .05em;
}

/* NOTE: Leave this alone, FFS. */
#home-featured-post > h2 {
	font-size: 2.05em;
	font-weight: 825;
	letter-spacing: .025em;
	line-height: 1.35;
}

/* TODO: This could probably just be p. */
#home-featured-post > .header-post-content {
	font-size: 1.27em;
	font-weight: 450;
	margin-top: 0.8em;
}

#recent-posts-divider {
	grid-area: recent;
	justify-self: center;
	font-family: var(--serif);
	font-size: 1.1rem;
	font-weight: 500;
	font-style: italic;
	letter-spacing: var(--expanded-spacing);
	opacity: .75;
	padding-top: 1em;
	margin-bottom: -0.4em;
}

/* =============================
		MAIN ELEMENT LAYOUT
	============================== */

main {
	grid-area: main;
aside {
	grid-area: aside;
	display: grid;
	gap: 2.3em 0.9em;
	padding-inline: var(--sides);
}

.post-card-grid {
	grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
	grid-template-rows: 1fr auto;
}

/* =============================
		TYPOGRAPHY
	============================== */

.roboto {
	font-family: "Roboto Flex", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings:
		"wdth"100;
	letter-spacing: .5px;
}

h2 {
	font-family: var(--serif);
	letter-spacing: normal;
	}

p {
	font-size: 1rem;
	line-height: 1.55;
}

a, a:link, a:visited {
	text-decoration: none;
}

a:link, a:visited {
	color: inherit;
}

/* #blog-featured-post h2 {
	font-size: clamp(1.6rem, 1.15rem + 2.85vw, 2.7rem);
	font-weight: 900;
	letter-spacing: -.005em;
	margin-top: .4em;
} */

/* #blog-featured-content {
	margin-top: 1em;
	font-size: 1rem;
} */

p.post-date {
	font-size: .9rem;
	font-weight: 320;
	text-transform: uppercase;
	letter-spacing: var(--expanded-spacing);
	opacity: 0.9;
	margin-top: .65em;
}

#next-post-1 hr {
	display: none;
}

.post-content {
	margin-block:.5em;
}

.post-content.cut-off-text {
	--line-height: 1.55;
	--max-lines: 10;
}

/* FYI: Didn't move this class to blog.css since it can be used in singular blog post pages AND in blog.html. */
.full-blog-posts-title {
	font-size: clamp(1.3rem, calc(0.35rem + 4.3vw), 2.3rem);
	font-weight: 800;
	line-height: 1.2;
	margin-top: .5em;
}

.post-card-grid-title {
	margin-top: .7em;
}

.post-card-grid-content {
	margin-top: .5em;
}

.post-card-grid-content.cut-off-text {
	--line-height: 1.60;
	--max-lines: 5;
}

.full-blog-posts-content {
	margin-top: .5em;
}

.header-post-content.cut-off-text {
	--line-height: 1.55;
	--max-lines: 9;
}

.cut-off-text {
	overflow: hidden;
	position: relative;
	max-height: calc(var(--line-height) * var(--max-lines) * 1em);
}

.cut-off-text::before {
	content: "";
	position: absolute;
	height: calc(1em * var(--line-height));
	width: 100%;
	bottom: 0;
	background: linear-gradient(to bottom, transparent, white);
}

#home-featured-post .cut-off-text::before {
	background: linear-gradient(to bottom, transparent, rgb(0, 0, 0, 0.85));
}

/* ===============================
		FOOTER, ETC
	================================ */

#recent-posts-divider p {
	text-align: center;
	margin-top: .5em;
}

footer p {
	color: var(--white);
	text-align: center;
	font-size: .8rem;
	line-height: 1.35;
}

footer p:last-child {
	font-size: .7rem;
	margin-top: .3em;
}

/* should be older-posts or something */
.view-more {
	grid-area: view;
	text-align: center;
	margin-top: 0.9em;
	p {
		font-size: 1.08rem;
	padding-top: 1.3em;
}
}

/* .view-more a:link {
	display: block;
	font-size: 1.05rem;
	font-weight: 500;
	text-align: center;
	padding-top: 1.3em;
	margin: 0 auto;
} */

/* =============================
		IMAGES
	============================== */

.image-wrapper {
	width: 100%;
	aspect-ratio: 8/5;
	overflow: hidden;
	padding-top: 1.9em
}

.post-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* =============================
		Utility Classes
	============================== */

hr {
    border: 0;
    width: 80%;
		height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
		margin: 0 auto;
}

.line-break {
	display: none;
}

.continue-reading {
	display: block;
	font-size: .92rem;
	font-weight: 320;
	font-style: italic;
	opacity: 0.6;
	letter-spacing: var(--expanded-spacing);
	text-transform: lowercase;
	padding-top: 1.0em;
}
.continue-reading > span {
	font-size: large;
}

#home-featured-post .continue-reading {
	font-size: 1.125em;
	font-weight: 350;
	opacity: 0.8;
}

.post .continue-reading {
	font-size: .9em;
	text-transform: lowercase;
}

/* ===============================
===============================
MEDIA QUERIES
===============================
================================ */

@media (width >= 560px) {
	#home-header {
		height: calc(100dvh - 3.5em);
		}

	.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.post-card-grid-title {
		font-size: 1.2rem;
		font-weight: 800;
	}

	p.post-card-grid-content {
	font-size: .97rem;
	}

	p.post-card-grid-content.cut-off-text {
		--line-height: 1.55;
	/* TODO: Do I need max-lines: 5 repeated here? */
		--max-lines: 5;
	}

	.post hr {
		display: none;
	}

	.image-wrapper {
		padding-top: 0;
	}
}

/* ================================================================ */

@media (560px <= width < 750px) {
	.post {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: .1em !important;
		margin-bottom: .2em;
	}

	.post .post-wrapper {
		display: flex;
		flex-direction: column;
	}
}

/* ================================================================ */

@media (min-width: 700px) {
	/* HEADER */

	#home-header {
		padding-block: clamp(8em, 5em + 8.75vh, 13em) 1.5em;
	}

	.header-post-content {
		line-height: 1.7;
	}

	.header-post-content.cut-off-text {
		--line-height: 1.7;
		--max-lines: 6;
	}

	/* MAIN */

	#recent-posts-divider {
		font-size: 1.2rem;
		margin-block: 0.6em -0.5em;
	}

		.post-card-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr auto;
	}

	.line-break {
		display: none;
	}

	hr {
		width: 77%;
	}

	.view-more {
		font-size: 1.2rem;
		margin-top: .4em;
	}
}

/* ================================================================ */

@media (width >= 750px) {
	#home-header {
			height: calc(100dvh - 4em);
	}
}

/* ================================================================ */

@media (width >=1200px) {
header:not(#home-header),
main:not(#main-home-content),
#nav-item-container:not(#home-nav > #nav-item-container) {
		margin-inline: auto;
		padding-inline: 0 !important;
	}
}
